body {
    background-color: #191919;
    color: #fff;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.05em;
    font-weight: 400;
}

main {
    width: 100%;
    width: calc(100% - 30px);
    max-width: 720px;
    margin: 45px auto;
    margin-top: 6%;
    padding: 0px 15px;
}

footer {
    margin-top: 15px;
    width: 100%;
    text-align: center;
}

footer::after {
    margin-top: 25px;
    font-size: 1.4em;
    display: block;
    content: '/>';
    font-weight: bold;
    color: #222;
}

p {
    text-align: center;
    padding: 0px;
    margin-top: 2px;
}

h1 {
    text-align: center;
    padding: 0px;
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: #ff9f43;
}

ul {
    padding: 0px;
    list-style: none;
    display: table;
    clear: both;
    margin:auto;
}

ul#links li {
    list-style: none;
    display: block;
    float: left;
    margin: 0px;
    font-size: 1.4em;
}
ul#links li:not(:last-child)::after {
    content: '\00a0|\00a0';
    color: #FFF;
    font-weight: 700;
}